.container {
  padding: 20px;
}

.visualization-container {
  display: flex;
  flex-direction: row;
}

.left-column, .right-column {
  flex: 1;
  margin: 0 10px;
}

.graph-container, .chart-container {
  width: 100%;
}

.bar-charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plotly-chart {
  width: 100%;
  height: 400px;
}

select {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}

.map-button-container {
  margin-top: 20px;
}

.dropdown-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.dropdown-container select {
  flex: 1;
  padding: 5px;
}